.box {
	height: 500px;
	width: 30%;
	background-color: yellow;
	border-radius: 10%;
	border: 7px dotted green;
	box-shadow: 0px 0px 20px gray;
	float: left;
	
}
.box2 {
	height: 500px;
	width: 35%;
	background-color: red;
	border-radius: 10%;
	border: 7px dotted green;
	box-shadow: 0px 0px 20px gray;
	float: left;
}
.box3 {
	height: 500px;
	width: 30%;
	background-color: gray;
	border-radius: 10%;
	border: 7px dotted green;
	box-shadow: 0px 0px 20px gray;
	float: left;
}


 